*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* .color-text{
    color: #A2A5A6;
} */

.footer{
    height: 80px;
    width: 100%;
    background-color: black;
    text-align: center;
    line-height: 80px;
}
.footer > p{
    color: white;
}